services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${SERVER_PORT}:3000"
    environment:
      SPRING_DATA_MONGODB_URI: "${SPRING_DATA_MONGODB_URI}"
      CORS_ALLOWED_ORIGINS: "${CORS_ALLOWED_ORIGINS}"
      SERVER_PORT: "${SERVER_PORT}"
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    restart: unless-stopped